body {
    background-color: #bcbec1;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    color: darkred;
    font-weight: 500;
}
h2 {
  margin-bottom: 1.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(120deg) brightness(200%);
}

.carousel-control-prev,
.carousel-control-next {
  height: 100px;
  top: 40%;
  transform: translateY(-80%);
  width: 3%
}

.carousel-item .row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 15px;
}

.carousel-caption {
    position: static !important;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(45, 194, 22);
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

  .img-carrusel {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: #fff;
    display: block;
}

.carousel-item .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
  font-size: 1.1rem;
  line-height: 1.6;
}
.cuadro-texto-historia {
    background-color: #f8f9fa;
    border: 2px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.img-historia {
  width: 90%;
  max-width: 500px; 
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
}
.card {
  width: 100%;
  max-width: 400px;
}
.foto-usuario {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #B22222;
}
.card-sucursal img {
    width: 48%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
  
  .card-sucursal .img-pair {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-bottom: 1rem;
}
  
.card-sucursal {
  max-width: 80%;
  min-height: auto;
}

.card-sucursal iframe {
  height: 180px !important;
}
.card-sucursal-secundaria {
  max-width: 640px; 
  margin-left: 30px;
}

#contacto {
  background-color: #bcbec1;
  padding: 20px 10px;
}

#formularioContacto {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(247, 245, 245);
  padding: 10px; 
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr; 
  row-gap: 3px; 
}

#formularioContacto label {
  font-weight: bold;
  margin-bottom: 2px; 
  display: block;
}

#formularioContacto input,
#formularioContacto select,
#formularioContacto textarea {
  width: 100%;
  padding: 6px; 
  border: 1px solid #0f0c0c;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px; 
  margin-bottom: 4px; 
}

#formularioContacto textarea {
  grid-column: 1 / -1; 
  resize: vertical;
  min-height: 60px; 
}

#formularioContacto button {
  grid-column: 1 / -1;
  padding: 8px;
  background-color: #8b0000;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

#formularioContacto button:hover {
  background-color: #a10000;
}

#mensajeError {
  margin-top: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
}